<h1>Registrieren</h1>
<table>
  <tr>
    <th>Nickname:</th>
    <td></td>
  </tr>
  <tr>
    <th>Password:</th>
    <td></td>
  </tr>
  <tr>
    <th>Email-Adresse:</th>
    <td></td>
  </tr>
</table>
